<div class="flex gap-4 py-4" id="cart-item-{{ item.key }}">
  <img src="{{ item.image | image_url: width: 100 }}" class="aspect-square object-center w-24 h-24 border rounded md:w-28 md:h-28" />
  <div class="flex flex-col justify-between w-full flex-grow">
    <div class="flex w-full justify-between">
      <div>
        <h3 class="text-2xl leading-none">{{ item.product.title }}</h3>
        {% if item.variant.title != 'Default Title' and item.variant.title != blank %}
          <p class="text-xs text-gray-500">{{ item.variant.title }}</p>
        {% endif %}
        {% if item.selling_plan_allocation %}
          <p class="text-xs text-gray-500">{{ item.selling_plan_allocation.selling_plan.name }}</p>
        {% endif %}

      </div>
      <p class='leading-none'>{{ item.final_line_price | money }}</p>
    </div>
    <div class='flex gap-2'>
      <div x-data="{ loading: false }" 
           @cart:updating-quantity-{{ item.key }}.window="loading = true" 
           @cart:quantity-updated-{{ item.key }}.window="loading = false" 
           class="flex items-center gap-2 border rounded">
        <button
          :disabled="loading"
          class="quantity-btn minus h-10 w-10 flex items-center justify-center" 
          @click.prevent="
            $store.cart.updateQuantity('{{ item.key }}', {{ item.quantity | minus: 1 }})
          "
        >
          -
        </button>
        <span
          x-show="!loading"
          class="quantity-display leading-none text-center w-10" 
        >
          {{ item.quantity }}
        </span>
        <span x-show="loading" class="w-10 h-10 flex items-center justify-center">
          {% render 'loading-spinner' %}
        </span>
        <button 
          :disabled="loading"
          class="quantity-btn plus h-10 w-10 flex items-center justify-center" 
          @click.prevent="
            $store.cart.updateQuantity('{{ item.key }}', {{ item.quantity | plus: 1 }})
          "
        >
          +
        </button>
      </div>
      <button 
        x-data="{ loading: false }"
        :disabled="loading"
        @cart:removing-{{ item.key }}.window="loading = true"
        @cart:removed-{{ item.key }}.window="loading = false"
        class="uppercase text-sm border rounded opacity-70 hover:opacity-100 transition-opacity duration-500  w-10 h-10 flex items-center justify-center" 
        @click.prevent="
          $store.cart.removeFromCart('{{ item.key }}')
        "
      >
        <span x-show="!loading" class='w-6 h-6 block'>{% render 'icon-trash' %}</span>
        <span x-show="loading" class="w-6 h-6 block">
          {% render 'loading-spinner' %}
        </span>
      </button>
    </div>
  </div>
</div> 