{% comment %}
  Renders a set of links for paginated results. Must be used within paginate tags.

  Usage:
  {% paginate results by 2 %}
    {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
  {% endpaginate %}

  Accepts:
  - paginate: {Object}
  - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

{%- if paginate.parts.size > 0 -%}
    <nav x-data="pagination" role="navigation" class='wrapper w-full flex justify-between items-center pt-12 hover:opacity-70' aria-label="{{ 'general.pagination.label' | t }}">
      <button
        @click="handleClick(event, '{{ gridId }}')"
        data-url="{{ paginate.previous.url }}{{ anchor }}"
        class="btn btn--black flex pagination-btn {% unless paginate.previous.is_link %}invisible{% endunless %}"
        {% unless paginate.previous.is_link %}disabled{% endunless %}
        aria-label="Previous"
      >
        previous
      </button>

      <div class="flex items-center">
        <span class="pagination__item btn text-xs">
          Page {{ paginate.current_page }} of {{ paginate.pages }}
        </span>
      </div>

      <button
        @click="handleClick(event, '{{ gridId }}')"
        data-url="{{ paginate.next.url }}{{ anchor }}"
        class="btn btn--black flex pagination-btn hover:opacity-70 {% unless paginate.next.is_link %}invisible{% endunless %}"
        {% unless paginate.next.is_link %}disabled{% endunless %}
        aria-label="Next"
      >
        next
      </button>
    </nav>
{%- endif -%}
