<form id="product-form" class='space-y-4'>
  {% if product.selling_plan_groups.size > 0 %}
    <div class="purchase-options">
      {% unless product.requires_selling_plan %}
        <label class="flex items-center gap-2">
          <input type="radio" 
            name="purchase_type" 
            value="onetime" 
            class="text-contrast"
            @click="handleSellingPlanChange($event)"
            {% unless product.selected_selling_plan %}checked{% endunless %}
          >
          <span class="text-sm uppercase tracking-wider">One-time purchase</span>
        </label>
      {% endunless %}

      {% for selling_plan_group in product.selling_plan_groups %}
        <label class="flex items-center gap-2">
          <input type="radio" 
            name="purchase_type" 
            value="subscription" 
            class="text-contrast"
            {% if selling_plan_group.selling_plans.size == 1 %}
              data-selling-plan-id="{{ selling_plan_group.selling_plans[0].id }}"
              @click="handleSellingPlanChange($event)"
              {% if product.selected_selling_plan.id == selling_plan_group.selling_plans[0].id %}checked{% endif %}
            {% endif %}
          >
          <span class="text-sm uppercase tracking-wider">{{ selling_plan_group.name }}</span>
        </label>

        {% if selling_plan_group.selling_plans.size > 1 %}
          <select name="selling_plan" class="ml-6">
            {% for selling_plan in selling_plan_group.selling_plans %}
              <option value="{{ selling_plan.id }}">{{ selling_plan.name }}</option>
            {% endfor %}
          </select>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {% unless product.has_only_default_variant %}
    <select name="variant">
      {% for variant in product.variants %}
        <option value="{{ variant.id }}">{{ variant.title }}</option>
      {% endfor %}
    </select>
  {% endunless %}

  <div class="flex items-center gap-2">
    <button class="quantity-btn-main-product" @click.prevent="quantity--">-</button>
    <input 
      type="number" 
      name="quantity" 
      min="1" 
      max="100" 
      x-model="quantity"
      class="appearance-none flex-1 text-center h-10 border rounded-full"
    >
    <button class="quantity-btn-main-product" @click.prevent="quantity++">+</button>
  </div>

  {% if product.is_sold_out %}
    <button class="btn btn--white">Sold out</button>
  {% else %}
    {% render 'buy-buttons', product: product, selectedVariant: product.selected_or_first_available_variant %}
  {% endif %}
</form>
