{% if customer and customer.tags contains 'wholesale_approved' and section.settings.b2b_menu != blank %}
  {% assign menu = linklists[section.settings.b2b_menu].links %}
{% else %}
  {% assign menu = linklists[section.settings.menu].links %}
{% endif %}

<header
  id="js-header"
  x-data="{ anyMegaMenuOpen: false }"
  :class="anyMegaMenuOpen && 'mega-menu-open'"
  class="section-header font-matter"
>
  <div class="wrapper h-full">
    <div class="grid grid-cols-3 gap-4 h-full wrapper-inner">
      <button x-data @click="$dispatch('toggle-menu-drawer')" class="lg:hidden">
        <span class="sr-only">Menu</span>
        <span class="hamburger">
          <span class="line"></span>
          <span class="line"></span>
        </span>
      </button>
      <div class="flex items-center justify-center lg:justify-start">
        <a href="{{ routes.root_url }}">
          {% render 'header-logo' %}
        </a>
      </div>
      <nav class="hidden lg:flex justify-center h-full ">
        <ul class="flex gap-6 h-full items-center">
          {%- for link in menu -%}
            <li
              class="h-full flex items-center"
              {% if link.links.size > 0 %}
                x-data="{ megaMenuOpen: false }"
                @mouseenter="megaMenuOpen = true; anyMegaMenuOpen = true"
                @mouseleave="megaMenuOpen = false; anyMegaMenuOpen = false"
              {% endif %}
            >
              <a href="{{ link.url }}" class="link">
                {{ link.title }}
              </a>

              {% if link.links.size > 0 %}
                <div
                  class="absolute left-0 right-0 top-16 z-[999] bg-white backdrop-blur"
                  x-cloak
                  x-show="megaMenuOpen"
                  x-transition:enter="transition ease-in-out duration-700"
                  x-transition:enter-start="opacity-0"
                  x-transition:enter-end="opacity-100"
                  x-transition:leave="transition ease-in-out duration-700"
                  x-transition:leave-start="opacity-100"
                  x-transition:leave-end="opacity-0"
                >
                  {% render 'mega_menu', link: link, blocks: section.blocks %}
                </div>
              {% endif %}
            </li>
          {%- endfor -%}
        </ul>
      </nav>
      <div class="h-full flex items-center justify-end gap-4 lg:gap-6 pointer-events-none">
        {% if customer %}
          <a
            href="{{ routes.account_url }}"
            class="link hidden lg:block pointer-events-auto"
          >
            Account
          </a>
        {% else %}
          <a href="{{ routes.account_login_url }}" class="link hidden lg:block pointer-events-auto"> Login </a>
        {% endif %}
        {% comment %}
          {% render 'button',
            button_text: 'Buy Now',
            event_trigger: 'open-quick-buy-drawer',
            button_class: 'hidden lg:block btn--black'
          %}
        {% endcomment %}
        {% render 'cart-button' %}
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header font-matter",
  "tag": "header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "link_list",
      "id": "b2b_menu",
      "label": "B2B Menu"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}
