<div class="wrapper grid gap-6 md:grid-cols-2">
  <div>
    <div data-product-gallery-container class="sticky top-32">
      {%- liquid
        assign selected_variant = product.selected_or_first_available_variant
        assign filtered_media_count = 0

        if product.variants.size > 1
          assign variant_title = selected_variant.title | handleize
        endif

        for media in product.media
          assign should_include = false

          if product.variants.size == 1
            assign should_include = true
          else
            if media.alt contains '_'
              assign split_alt = media.alt | split: ' '
              for word in split_alt
                if word contains '_'
                  assign split_word = word | split: '_'
                  assign image_variant = split_word.last | handleize
                  if variant_title == image_variant
                    assign should_include = true
                    break
                  endif
                endif
              endfor
            else
              assign should_include = true
            endif
          endif

          if should_include
            assign filtered_media_count = filtered_media_count | plus: 1
          endif
        endfor
      -%}
      {% if filtered_media_count > 1 %}
        {% render 'product-gallery', product: product %}
      {% elsif filtered_media_count == 1 %}
        {%- for media in product.media -%}
          {%- liquid
            assign should_include = false

            if product.variants.size == 1
              assign should_include = true
            else
              if media.alt contains '_'
                assign split_alt = media.alt | split: ' '
                for word in split_alt
                  if word contains '_'
                    assign split_word = word | split: '_'
                    assign image_variant = split_word.last | handleize
                    if variant_title == image_variant
                      assign should_include = true
                      break
                    endif
                  endif
                endfor
              else
                assign should_include = true
              endif
            endif
          -%}
          {%- if should_include -%}
            {% render 'responsive-image',
              image: media,
              wrapper_class: 'aspect-square bg-white',
              image_class: 'w-full h-full object-cover'
            %}
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}
      {% endif %}
    </div>
  </div>
  <div class="product-details">
    <div class="max-w-xl mx-auto">
      <form
        class="product-details space-y-5"
        x-data="product"
        method="post"
        action="/cart/add"
        @submit.prevent="$store.cart.addToCart($event, quantity)"
        id="product-form-{{ product.id }}"
        accept-charset="UTF-8"
        enctype="multipart/form-data"
      >
        <input type="hidden" name="form_type" value="product">
        <input type="hidden" name="utf8" value="✓">

        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          data-variant-id
        >

        {% for block in section.blocks %}
          {% case block.type %}
            {% when '@app' %}
              {% render block %}
            {% when 'product-title' %}
              {% render 'animated-heading', class: 'mb-2 h2', title: product.title %}
            {% when 'product-price' %}
              {% render 'price', product: product, use_variant: true, show_compare_at_price: true %}
            {% when 'product-description' %}
              <div class="my-8">
                <div
                  class="product-description relative"
                  :style="{ height: descriptionOpen ? $el.scrollHeight + 'px' : '90px' }"
                  :class="descriptionOpen && 'product-description-open'"
                >
                  {{ product.description }}
                </div>
                <button
                  class="underline font-semibold"
                  @click.prevent="descriptionOpen = !descriptionOpen"
                  x-text="descriptionOpen ? 'Read Less' : 'Read More'"
                ></button>
              </div>
            {% when 'accordion' %}
              {% if product.metafields.product.accordion %}
                {% render 'product-accordion', product: product %}
              {% endif %}
            {% when 'tag' %}
              {% if block.settings.liquid %}
                <div
                  class="inline-block py-2 px-3 bg-black/10 text-black rounded-full text-sm font-medium tracking-wide uppercase"
                  data-product-tag-container
                >
                  {{ block.settings.liquid }}
                </div>
              {% endif %}
            {% when 'buy-buttons' %}
              {% if product.is_sold_out %}
                <button class="btn btn--white">Sold out</button>
              {% else %}
                {% render 'buy-buttons',
                  product: product,
                  selectedVariant: product.selected_or_first_available_variant
                %}
              {% endif %}
            {% when 'variant-picker' %}
              {% render 'variant-picker-pills', product: product, section: section %}
            {% when 'wholesale-volume-pricing' %}
              {% if product.quantity_price_breaks_configured? %}
                <div class="wholesale-volume-pricing">
                  <h3>{{ block.settings.title }}</h3>
                  <p>{{ block.settings.description }}</p>
                </div>
              {% endif %}
          {% endcase %}
        {% endfor %}
      </form>
    </div>
  </div>
</div>

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {{ product | structured_data }}
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "templates": ["page", "collection", "list-collections", "index"],
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "product-title",
      "name": "Product Title",
      "limit": 1
    },
    {
      "type": "wholesale-volume-pricing",
      "name": "Wholesale Volume Pricing",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    },
    {
      "type": "product-price",
      "name": "Product Price",
      "limit": 1
    },
    {
      "type": "product-description",
      "name": "Product Description",
      "limit": 1
    },
    {
      "type": "accordion",
      "name": "Accordion",
      "limit": 1
    },
    {
      "type": "buy-buttons",
      "name": "Buy Buttons",
      "limit": 1
    },
    {
      "type": "variant-picker",
      "name": "Variant Picker",
      "limit": 1
    },
    {
      "type": "quantity-selector",
      "name": "Quantity Selector",
      "limit": 1
    },
    {
      "type": "tag",
      "name": "Tag",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid"
        }
      ]
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
