{% style %}
  .color-{{ section.settings.color_scheme }} {
    --color-primary: {{ section.settings.color_scheme.settings.primary }};
    --color-contrast: {{ section.settings.color_scheme.settings.contrast }};
    --color-lines: {{ section.settings.color_scheme.settings.lines }};
  }
{% endstyle %}

<div class="color-{{ section.settings.color_scheme }} bg-primary text-contrast h-screen-no-nav flex items-center justify-center wrapper">
  <div class='text-center'>
    <h2 class='h1 mb-2 animate-bounce'>404</h2>
    <h2 class='h3'>
      {{ section.settings.title }}
    </h2>
    <div class='md:col-span-2'>
      {{ section.settings.richtext }}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "404",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Page Not Found"
      },
      {
        "type": "richtext",
        "id": "richtext",
        "label": "Rich Text",
        "default": "<p>The page you are looking for does not exist. It may have been moved or removed altogether. Please try searching for some other page, or return to the website's homepage to find what you're looking for.</p>"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color Scheme",
        "default": "scheme-1"
      }
    ],
    "blocks": [
      {
        "type": "link",
        "name": "Link",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "label",
            "label": "Label",
            "default": "Continue Shopping"
          },
          {
            "type": "url",
            "id": "url",
            "label": "URL"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "404",
        "blocks": [
          {
            "type": "link"
          }
        ]
      }
    ]
  }
{% endschema %}