<article class="wrapper grid md:grid-cols-2 gap-6">
  <div class="">
    <div class="md:min-h-[50vh] py-6 flex flex-col gap-6 justify-between">
      <div>
        <h2 class="h1 tracking-tight font-light text-4xl md:text-6xl lg:text-8xl mb-4">
          {{ article.title }}
        </h2>
        {% if article.tags.size > 0 %}
          <ul class="flex">
            {% for tag in article.tags %}
              <li class="p-1">
                <div class="border font-medium border-black inline-block rounded-full tracking-wide py-1 px-3 text-sm uppercase">
                  {{ tag }}
                </div>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      {% if article.image %}
        {% render 'responsive-image', image: article.image, wrapper_class: 'block md:hidden relative w-full  aspect-portrait rounded-lg overflow-hidden md:ml-auto', image_class: 'absolute h-full w-full object-cover' %}
      {% endif %}
      <div class="flex items-center justify-between border-y border-black uppercase text-sm font-medium tracking-wide py-2">
        <span class="">
          {{ article.published_at | time_tag: format: 'date' }}
        </span>

        {% if article.author %}
          <span>By: {{ article.author }}</span>
        {% endif %}
      </div>
    </div>
    <div class="overflow-hidden prose">
      {{ article.content | mark }}
    </div>
  </div>

  <div class="md:flex md:justify-end py-6 hidden">
    <div class="w-full">
      <div class="sticky top-24 w-full">
        {% if article.image %}
          {% render 'responsive-image', image: article.image, wrapper_class: 'relative w-full max-w-xl aspect-portrait rounded-lg overflow-hidden md:ml-auto', image_class: 'absolute h-full w-full object-cover' %}
        {% endif %}
      </div>
    </div>
  </div>
</article>

<script type="application/ld+json">
  {{ article | structured_data }}
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "t:sections.main-article.blocks.share.settings.text.default"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}
