<div class="wrapper grid items-start gap-6 md:grid-cols-2">
  {% if product.media.size > 1 %}
    {% render 'product-gallery', product: product %}
  {% elsif product.media.size == 1 %}
    {% render 'responsive-image', image: product.media[0], wrapper_class: 'aspect-square bg-white', image_class: 'w-full h-full object-cover' %}
  {% endif %}
  <form 
    class="product-details" 
    x-data="product"
    method="post" 
    action="/cart/add"
    @submit.prevent="$store.cart.addToCart($event, quantity)"
    id="product-form-{{ product.id }}"
    accept-charset="UTF-8"
    enctype="multipart/form-data"
  >
    <input type="hidden" name="form_type" value="product">
    <input type="hidden" name="utf8" value="✓">
    
    <input 
      type="hidden" 
      name="id" 
      value="{{ product.selected_or_first_available_variant.id }}"
      data-variant-id
    >
    
    {% for block in section.blocks %}
      {% case block.type %}
        {% when '@app' %}
          {% unless customer and customer.tags contains 'wholesale' %}
            {% render block %}
          {% endunless %}
        {% when 'product-title' %}
          {% render 'animated-heading', class: 'mb-2 h2', title: product.title %}
        {% when 'product-price' %}
          {% render 'price', product: product, show_compare_at_price: true %}
          {%- if product.quantity_price_breaks_configured? -%}
            <div class="volume-pricing-note" id="Volume-Note-{{ section.id }}">
              <span>{{ 'products.product.volume_pricing.note' | t }}</span>
            </div>
          {%- endif -%}
        {% when 'product-description' %}
          <div class="my-8">
            <div
              class="product-description relative"
              :style="{ height: descriptionOpen ? $el.scrollHeight + 'px' : '90px' }"
              :class="descriptionOpen && 'product-description-open'"
            >
              {{ product.description }}
            </div>
            <button class="underline font-semibold" @click.prevent="descriptionOpen = !descriptionOpen" x-text="descriptionOpen ? 'Less' : 'More'"></button>
          </div>
        {% when 'accordion' %}
          {% if product.metafields.product.accordion %}
            {% render 'product-accordion', product: product %}
          {% endif %}
        {% when 'buy-buttons' %}
          {% if product.is_sold_out %}
            <button class="btn btn--white">Sold out</button>
          {% else %}
            {% render 'buy-buttons', product: product, selectedVariant: product.selected_or_first_available_variant %}
          {% endif %}
        {% when 'variant-picker' %}
          {% unless product.has_only_default_variant %}
            <select 
              class="my-2"
              @change="handleVariantChange($event)"
              data-product-select
              id="ProductSelect-{{ section.id }}"
            >
              {% for variant in product.variants %}
                <option 
                  value="{{ variant.id }}"
                  {% if variant.id == product.selected_or_first_available_variant.id %}selected="selected"{% endif %}
                >
                  {{ variant.title }}
                </option>
              {% endfor %}
            </select>
          {% endunless %}
      {% endcase %}
    {% endfor %}
  </form>
</div>

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {{ product | structured_data }}
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "templates": ["page", "collection", "list-collections", "index"],
    "groups": ["header", "footer"]
  },
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "product-title",
      "name": "Product Title",
      "limit": 1
    },
    {
      "type": "product-price",
      "name": "Product Price",
      "limit": 1
    },
    {
      "type": "product-description",
      "name": "Product Description",
      "limit": 1
    },
    {
      "type": "accordion",
      "name": "Accordion",
      "limit": 1
    },
    {
      "type": "buy-buttons",
      "name": "Buy Buttons",
      "limit": 1
    },
    {
      "type": "variant-picker",
      "name": "Variant Picker",
      "limit": 1
    },
    {
      "type": "quantity-selector",
      "name": "Quantity Selector",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
