<div class="wrapper max-w-2xl py-16 md:py-32 text-center">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        {% render block %}
      {%- when 'heading' -%}
        <h2
          class="text-base font-body font-semibold uppercase tracking-wide mb-4"
          {{ block.shopify_attributes }}
        >
          {{ block.settings.heading }}
        </h2>
      {%- when 'paragraph' -%}
        <p
          class="h2 opacity-100 mb-10"
          {{ block.shopify_attributes }}
        >
          {{ block.settings.text }}
        </p>
      {%- when 'email_form' -%}
        <div class="max-w-xl mx-auto" {{ block.shopify_attributes }}>
          {% form 'customer', class: 'newsletter-form w-full' %}
            {% unless form.posted_successfully? %}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="">
                <div class="relative">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="w-full h-16 pr-32 pl-8 bg-transparent focus:outline-none placeholder-opacity-50 bg-white text-black rounded-full"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder="Your Email"
                    required
                  >
                  <label class="sr-only" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                  <button
                    type="submit"
                    class="absolute top-2 bottom-2 right-2 text-sm bg-black text-white uppercase font-bold tracking-wider px-6 rounded-full hover:opacity-80 duration-500"
                    name="commit"
                    id="Subscribe"
                    aria-label="{{ 'newsletter.button_label' | t }}"
                  >
                    Sign up
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                    <span class="svg-wrapper">
                      {{- 'icon-error.svg' | inline_asset_content -}}
                    </span>
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </small>
                {%- endif -%}
              </div>
            {% endunless %}
            {%- if form.posted_successfully? -%}
              <h3
                class=""
                id="Newsletter-success--{{ section.id }}"
                tabindex="-1"
                autofocus
              >
                
              </h3>
            {%- endif -%}
          {% endform %}
        </div>
    {%- endcase -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Newsletter",
  "tag": "section",
  "class": "section--newsletter bg-black text-white",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Newsletter",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Subscribe to our newsletter to receive updates on new products and special offers.",
          "label": "Paragraph"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "Email Form",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ]
}
{% endschema %}
