<div class="wrapper grid md:grid-cols-[1fr_400px] md:grid-rows-[auto_1fr] gap-8"
  x-data="{ 
    currentIndex: 0,
    totalSlides: {{ section.blocks.size }},
    next() {
      this.currentIndex = (this.currentIndex + 1) % this.totalSlides;
    },
    prev() {
      this.currentIndex = (this.currentIndex - 1 + this.totalSlides) % this.totalSlides;
    }
  }">
  <div class="flex flex-col w-full justify-between gap-4">
    {% render 'animated-heading', title: section.settings.heading, class: 'h2 max-w-xl' %}
  </div>
  
  <div class="relative overflow-hidden w-full grid items-end order-last lg:order-none"
    x-data="{ maxHeight: 0 }"
    x-init="$nextTick(() => {
      maxHeight = Math.max(...Array.from($el.children).map(el => el.offsetHeight));
      $el.style.minHeight = maxHeight + 'px';
    })">
    {% for testimony in section.blocks %}
      <div class="absolute w-full"
        x-show="currentIndex === {{ forloop.index0 }}"
        x-transition:enter="transition ease-out duration-500"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in duration-500"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0">
        <div class="flex items-end h-full">
          <div class="space-y-4 max-w-lg">
            <p class="lead">{{testimony.settings.quote}}</p>
            <span class="block font-medium tracking-wide uppercase">
              After {{testimony.settings.treatment_duration}} days
            </span>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="md:row-span-2 md:col-start-2 md:row-start-1">
    <div class="relative w-full">
      <div class="relative overflow-hidden aspect-[3/4] bg-black rounded-lg w-full">
        {% for testimony in section.blocks %}
          <div class="absolute inset-0 w-full h-full"
            x-show="currentIndex === {{ forloop.index0 }}"
            x-transition:enter="transition ease-out duration-500"
            x-transition:enter-start="transform translate-x-full opacity-0"
            x-transition:enter-end="transform translate-x-0 opacity-100"
            x-transition:leave="transition ease-in duration-500"
            x-transition:leave-start="transform translate-x-0 opacity-100"
            x-transition:leave-end="transform translate-x-0 opacity-0">
            {% render 'responsive-image', 
              image: testimony.settings.after_image, 
              wrapper_class: 'aspect-[3/4] relative overflow-hidden', 
              image_class: 'absolute object-cover inset-0 w-full h-full' 
            %}
          </div>
        {% endfor %}

        <div class="absolute top-4 left-4 z-30">
          <div x-data="{ enlargeImage: false }" class="relative mb-1">
            <div class="overflow-hidden relative aspect-[3/4] transition-all duration-500 rounded"
              :class="enlargeImage ? 'w-40 md:w-56' : 'w-24'">
              {% for testimony in section.blocks %}
                <div class="absolute inset-0 w-full h-full aspect-[3/4]"
                  x-show="currentIndex === {{ forloop.index0 }}"
                  x-transition:enter="transition ease-out duration-500"
                  x-transition:enter-start="transform translate-x-full opacity-0"
                  x-transition:enter-end="transform translate-x-0 opacity-100"
                  x-transition:leave="transition ease-in duration-500"
                  x-transition:leave-start="transform translate-x-0 opacity-100"
                  x-transition:leave-end="transform translate-x-0 opacity-0">
                  {% render 'responsive-image', 
                    image: testimony.settings.before_image, 
                    wrapper_class: 'aspect-[3/4] relative overflow-hidden', 
                    image_class: 'absolute object-cover inset-0 w-full h-full' 
                  %}
                </div>
              {% endfor %}
            </div>
            <button
              @click="enlargeImage = !enlargeImage"
              class="absolute bottom-2 right-2 z-10 rounded-full bg-white/20 p-2"
            >
              <span class="block w-4 h-4 transform transition-transform duration-500 text-white" :class="enlargeImage ? 'rotate-45' : 'rotate-0'">
                {{- 'icon-close.svg' | inline_asset_content -}}
              </span>
            </button>
          </div>
          <span class="relative text-white uppercase text-sm font-medium tracking-wide mb-0">
            Before
          </span>
        </div>

        <div class="flex inset-x-0 bottom-0 p-4 z-20 absolute justify-between items-end">
          <span class="text-white uppercase text-sm font-medium tracking-wide">
            After
          </span>
          <div class="flex gap-2 z-10">
            <button @click="prev()" class="cursor-pointer bg-white/20 rounded-full w-10 h-10 flex items-center justify-center">
              <span class="block w-4 h-[10px] transform transition-transform duration-500 text-white rotate-90">
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </span>
            </button>
            <button @click="next()" class="cursor-pointer bg-white/20 rounded-full w-10 h-10 flex items-center justify-center">
              <span class="block w-4 h-[10px] transform transition-transform duration-500 text-white -rotate-90">
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Testimonies",
    "tag": "section",
    "class": "section-testimonies section",
    "disabled_on": {
      "groups": ["header"]
    },
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "testimony",
        "name": "Testimony",
        "settings": [
          {
            "type": "image_picker",
            "id": "before_image",
            "label": "Before Image"
          },
          {
            "type": "image_picker",
            "id": "after_image",
            "label": "After Image"
          },
          {
            "type": "text",
            "id": "quote",
            "label": "Quote"
          },
          {
            "type": "number",
            "id": "treatment_duration",
            "label": "Treatment Duration (days)"
          }
        ]
      }
    ]
  }
{% endschema %}