{% assign featured_product = all_products[settings.featured_product] %}

  {% if section.settings.backgroundImage != blank %}
    {% render 'responsive-image', image: section.settings.backgroundImage, wrapper_class: "absolute inset-0 ", image_class: "object-cover absolute inset-0 h-full w-full" %}
  {% else %}
    <div class="hero-placeholder placeholder-image">
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg'  }}
    </div>
  {% endif %}
  <div class="wrapper text-primary">
    {% render 'animated-heading', title: section.settings.hero_heading, class: 'h1 max-w-3xl' %}
    <div class="flex justify-between w-full items-end">
      {% if section.settings.hero_content != blank %}
        <div class="max-w-xl">{{ section.settings.hero_content }}</div>
      {% endif %}
      {% if featured_product != blank and section.settings.show_featured_product %}
        <div class="featured-product">
          <div class="w-1/3 flex justify-center items-center bg-primary">
            {% render 'responsive-image', image: featured_product.featured_image, wrapper_class: "relative aspect-portrait w-full h-full overflow-hidden", image_class: "absolute inset-0 object-cover w-full h-full" %}
          </div>
          <div class="w-2/3 p-8 flex flex-col bg-white">
            <h3 class="max-w-xs font-heading text-3xl">
              {{ featured_product.title }}
            </h3>
            <h5 class="mb-10">
              {{ featured_product.price | money }}
            </h5>
            <div class="mt-auto">
              <button class="btn btn--black group px-6 py-3 font-medium text-sm tracking-wider rounded-full inline-flex items-center gap-3" @click="dispatch('open-product-drawer', { productId: {{ featured_product.id }} })">
                <span class="relative overflow-hidden flex flex-col h-5">
                 <span class="translate-y-0 group-hover:translate-y-full duration-500">Shop Now</span>
                  <span class="absolute -translate-y-full group-hover:-translate-y-0 duration-500">Shop Now</span>
              </span>
              </button>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

{% schema %}
{
  "name": "t:sections.home-hero.name",
  "tag": "section",
  "class": "w-full relative flex items-end justify-center home-hero h-screen-no-nav",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "backgroundImage",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "hero_heading",
      "label": "Hero Heading",
    },
    {
      "type": "richtext",
      "id": "hero_content",
      "label": "Hero Content",
    },
    {
      "type": "checkbox",
      "id": "show_featured_product",
      "label": "Show Featured Product",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "t:sections.home-hero.name",
      "settings": {
        "hero_content": "<p>Welcome to our store. Discover our unique collection of products.</p>",
      }
    }
  ]
}
{% endschema %}
