<div class="bg-primary text-contrast">
  <div class="wrapper grid lg:grid-cols-2 gap-8">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'image_block' %}
          {% if block.settings.image %}
            <div class="relative overflow-hidden bg-white {% if block.settings.aspect_ratio == 'portrait' %}aspect-portrait{% elsif block.settings.aspect_ratio == 'landscape' %}aspect-landscape{% else %}aspect-square{% endif %}">
              {% render 'responsive-image' with
              image: block.settings.image,
              wrapper_class: "",
              image_class: "absolute inset-0 object-cover w-full h-full",
              size: '1000x1000',
              width: 1000,
              height: 1000, %}
            </div>
          {% endif %}
        {% when 'text_between' %}
          {% if block.settings.sticky_text or block.settings.static_text %}
            <div class="flex flex-col gap-8">
              {% if block.settings.sticky_text %}
                <div class="relative flex-1">
                  <div class="sticky top-20 max-w-p lead transition-opacity duration-2500 ease-in-out" x-data="{ shown: false }" x-intersect:enter="shown = true" x-intersect:leave="shown = false" :class="shown ? 'opacity-100' : 'opacity-0'">{{ block.settings.sticky_text }}</div>
                </div>
              {% endif %}
              {% if block.settings.static_text %}
                <div class="max-w-p space-y-4">{{ block.settings.static_text }}</div>
              {% endif %}
            </div>
          {% endif %}
        {% when 'text_beside' %}
          <div class="flex w-full h-full items-center">
            <div class="grid md:grid-cols-3 gap-4">
              <h3 class="h3">{{ block.settings.heading }}</h3>
              <div class="md:col-span-2">
                <div class="max-w-p richtext">
                  {{ block.settings.text }}
                </div>
                <div class="flex mt-4">
                  {% if block.settings.button_text %}
                    <a href="{{ block.settings.button_link }}" class="btn btn--outline-primary flex">{{ block.settings.button_text }}</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>


{% schema %}
{
  "name": "Two Column Content",
  "tag": "section",
  "class": "section-two-column-content section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "text_beside",
      "name": "Text Beside",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Featured Content"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share your story, showcase products, or highlight key features with this versatile two-column layout.</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Learn More"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    },
    {
      "type": "image_block",
      "name": "Image Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "aspect_ratio",
          "label": "Aspect Ratio",
          "options": [
            {
              "value": "portrait",
              "label": "Portrait"
            },
            {
              "value": "square",
              "label": "Square"
            },
            {
              "value": "landscape",
              "label": "Landscape"
            }
          ],
          "default": "portrait"
        }
      ]
    },
    {
      "type": "text_between",
      "name": "Text Between",
      "settings": [
        {
          "type": "richtext",
          "id": "sticky_text",
          "label": "Sticky Text"
        },
        {
          "type": "richtext",
          "id": "static_text",
          "label": "Static Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Two Column Content"
    }
  ],
  "max_blocks": 2
}
{% endschema %}
