<div class="wrapper accordion-wrapper">
  {% render 'animated-heading', title: section.settings.heading, class: 'h2' %}
  <div class="accordion-content" x-data="accordion">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'accordion' %}
          <div class="accordion-item group">
            <button class="accordion-item-button" @click="toggleAccordionItem({{ forloop.index0 }})">
              <h3 class="accordion-item-heading">{{ block.settings.heading }}</h3>
              <span class="accordion-item-icon" :class="activeIndex === {{ forloop.index0 }} ? 'active' : '' ">
                <span class="line"></span>
                <span class="line"></span>
              </span>
            </button>
            <div
              :style="{ height: activeIndex === {{ forloop.index0 }} ? $el.scrollHeight + 'px' : '0px' }"
              class="accordion-item-content prose"
            >
              {{ block.settings.content }}
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Accordion",
  "tag": "section",
  "class": "section-accordion section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "Accordion",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordion"
    }
  ]
}
{% endschema %}
